#padd{
	padding: 25px;

}
.all{
	background: white;
}
#border{
	border: solid;
	}
	footer{
		align: center;

	}
	body{
		text-align: center;
	}
	#centerdiv{
		align-items: center;
	}
	td{
		height: 40px;
	}
	.left{
		float: right;
	}
	#padup{
		padding-top: 100%;
		border: 1px solid transparent;
		position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
	}